In [30]:
#import necesary libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
# loading data
path = r"C:\Users\User\OneDrive\Desktop\TOY SALES\TOY-SALES-ANALYTICS\Salesdata (1).xlsx"
excel_df = pd.ExcelFile(path)
print(excel_df.sheet_names) #listing all the excel sheets

['Main Data', 'Data Dictionary', 'Product Master']

Main Data

In [32]:
#loading the sheets
main_data = pd.read_excel(path, sheet_name='Main Data')
#inspection of the data
main_data.head()

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,Phone,AddressLine1,City,PostalCode,Country,Territory,ContactLastName,ContactFirstName,Branch,CostPrice
0,10100,49,34.47,1,1689.03,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Skates Road,22.4055
1,10100,50,67.80,2,3390.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Bergenville,44.0700
2,10100,30,100.00,3,5151.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Bergenville,65.0000
3,10100,22,86.51,4,1903.22,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Skates Road,56.2315
4,10101,26,100.00,1,3773.38,Shipped,1,9,1,2022,...,+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,60528,Germany,EMEA,Keitel,Roland,Bergenville,65.0000

In [33]:
main_data.shape

(2823, 22)

In [34]:
main_data.columns

Index(['OrderNumber', 'QuantityOrdered', 'PriceEach', 'OrderLineNumber',
       'Sales', 'Status', 'QTR_ID', 'DAY_ID', 'MONTH_ID', 'YEAR_ID',
       'ProductCode', 'CustomerName', 'Phone', 'AddressLine1', 'City',
       'PostalCode', 'Country', 'Territory', 'ContactLastName',
       'ContactFirstName', 'Branch', 'CostPrice'],
      dtype='object')

In [35]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       2823 non-null   int64
 1   QuantityOrdered   2823 non-null   int64
 2   PriceEach         2823 non-null   float64
 3   OrderLineNumber   2823 non-null   int64
 4   Sales             2823 non-null   float64
 5   Status            2823 non-null   object
 6   QTR_ID            2823 non-null   int64
 7   DAY_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  ProductCode       2823 non-null   object
 11  CustomerName      2823 non-null   object
 12  Phone             2823 non-null   object
 13  AddressLine1      2823 non-null   object
 14  City              2823 non-null   object
 15  PostalCode        2747 non-null   object
 16  Country           2823 non-null   object
 17  Territory         1749 non-null   object
 18  ContactLastName   2823 non-null   object
 19  ContactFirstName  2823 non-null   object
 20  Branch            2823 non-null   object
 21  CostPrice         2823 non-null   float64
dtypes: float64(3), int64(7), object(12)
memory usage: 485.3+ KB

In [36]:
main_data.describe()

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,CostPrice
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,14.291534,7.092455,2022.81509,54.378054
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,8.777409,3.656633,0.69967,13.113280
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,1.000000,2022.00000,17.472000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,6.000000,4.000000,2022.00000,44.759000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,14.000000,8.000000,2023.00000,62.205000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,21.000000,11.000000,2023.00000,65.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,31.000000,12.000000,2024.00000,65.000000

In [37]:
#calculating null values in percentage
main_data.isnull().sum() / len(main_data) * 100

OrderNumber          0.000000
QuantityOrdered      0.000000
PriceEach            0.000000
OrderLineNumber      0.000000
Sales                0.000000
Status               0.000000
QTR_ID               0.000000
DAY_ID               0.000000
MONTH_ID             0.000000
YEAR_ID              0.000000
ProductCode          0.000000
CustomerName         0.000000
Phone                0.000000
AddressLine1         0.000000
City                 0.000000
PostalCode           2.692171
Country              0.000000
Territory           38.044633
ContactLastName      0.000000
ContactFirstName     0.000000
Branch               0.000000
CostPrice            0.000000
dtype: float64