In [58]:
#import necesary libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [59]:
# loading data
path = r"C:\Users\User\OneDrive\Desktop\TOY SALES\TOY-SALES-ANALYTICS\Salesdata (1).xlsx"
excel_df = pd.ExcelFile(path)
print(excel_df.sheet_names) #listing all the excel sheets

['Main Data', 'Data Dictionary', 'Product Master']

Main Data

In [60]:
#loading the sheets
main_data = pd.read_excel(path, sheet_name='Main Data')
#inspection of the data
main_data.head()

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,Phone,AddressLine1,City,PostalCode,Country,Territory,ContactLastName,ContactFirstName,Branch,CostPrice
0,10100,49,34.47,1,1689.03,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Skates Road,22.4055
1,10100,50,67.80,2,3390.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Bergenville,44.0700
2,10100,30,100.00,3,5151.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Bergenville,65.0000
3,10100,22,86.51,4,1903.22,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Skates Road,56.2315
4,10101,26,100.00,1,3773.38,Shipped,1,9,1,2022,...,+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,60528,Germany,EMEA,Keitel,Roland,Bergenville,65.0000

In [61]:
main_data.shape

(2823, 22)

In [62]:
main_data.columns

Index(['OrderNumber', 'QuantityOrdered', 'PriceEach', 'OrderLineNumber',
       'Sales', 'Status', 'QTR_ID', 'DAY_ID', 'MONTH_ID', 'YEAR_ID',
       'ProductCode', 'CustomerName', 'Phone', 'AddressLine1', 'City',
       'PostalCode', 'Country', 'Territory', 'ContactLastName',
       'ContactFirstName', 'Branch', 'CostPrice'],
      dtype='object')

In [63]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       2823 non-null   int64
 1   QuantityOrdered   2823 non-null   int64
 2   PriceEach         2823 non-null   float64
 3   OrderLineNumber   2823 non-null   int64
 4   Sales             2823 non-null   float64
 5   Status            2823 non-null   object
 6   QTR_ID            2823 non-null   int64
 7   DAY_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  ProductCode       2823 non-null   object
 11  CustomerName      2823 non-null   object
 12  Phone             2823 non-null   object
 13  AddressLine1      2823 non-null   object
 14  City              2823 non-null   object
 15  PostalCode        2747 non-null   object
 16  Country           2823 non-null   object
 17  Territory         1749 non-null   object
 18  ContactLastName   2823 non-null   object
 19  ContactFirstName  2823 non-null   object
 20  Branch            2823 non-null   object
 21  CostPrice         2823 non-null   float64
dtypes: float64(3), int64(7), object(12)
memory usage: 485.3+ KB

In [64]:
main_data.describe()

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,CostPrice
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,14.291534,7.092455,2022.81509,54.378054
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,8.777409,3.656633,0.69967,13.113280
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,1.000000,2022.00000,17.472000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,6.000000,4.000000,2022.00000,44.759000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,14.000000,8.000000,2023.00000,62.205000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,21.000000,11.000000,2023.00000,65.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,31.000000,12.000000,2024.00000,65.000000

In [65]:
#calculating null values in percentage
main_data.isnull().sum() / len(main_data) * 100

OrderNumber          0.000000
QuantityOrdered      0.000000
PriceEach            0.000000
OrderLineNumber      0.000000
Sales                0.000000
Status               0.000000
QTR_ID               0.000000
DAY_ID               0.000000
MONTH_ID             0.000000
YEAR_ID              0.000000
ProductCode          0.000000
CustomerName         0.000000
Phone                0.000000
AddressLine1         0.000000
City                 0.000000
PostalCode           2.692171
Country              0.000000
Territory           38.044633
ContactLastName      0.000000
ContactFirstName     0.000000
Branch               0.000000
CostPrice            0.000000
dtype: float64

In [66]:
main_data['Territory'].value_counts()

Territory
EMEA     1407
APAC      221
Japan     121
Name: count, dtype: int64

In [67]:
# rows where territory is missing
missing_territory = main_data.loc[main_data['Territory'].isnull()]
missing_territory

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,Phone,AddressLine1,City,PostalCode,Country,Territory,ContactLastName,ContactFirstName,Branch,CostPrice
0,10100,49,34.47,1,1689.03,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Skates Road,22.4055
1,10100,50,67.80,2,3390.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Bergenville,44.0700
2,10100,30,100.00,3,5151.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Bergenville,65.0000
3,10100,22,86.51,4,1903.22,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NaN,Young,Valarie,Skates Road,56.2315
8,10102,41,50.14,1,2055.74,Shipped,1,10,1,2022,...,2125551500,2678 Kingston Rd.,NYC,10022,USA,NaN,Frick,Michael,Skates Road,32.5910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2742,10414,48,100.00,14,5808.48,On Hold,2,6,5,2024,...,6175559555,8616 Spinnaker Dr.,Boston,51003,USA,NaN,Yoshido,Juri,Bergenville,65.0000
2795,10421,35,100.00,1,5433.75,In Process,2,29,5,2024,...,4155551450,5677 Strong St.,San Rafael,97562,USA,NaN,Nelson,Valarie,Bergenville,65.0000
2796,10421,40,45.70,2,1828.00,In Process,2,29,5,2024,...,4155551450,5677 Strong St.,San Rafael,97562,USA,NaN,Nelson,Valarie,Skates Road,29.7050
2797,10422,25,51.75,1,1293.75,In Process,2,30,5,2024,...,2155551555,7586 Pompton St.,Allentown,70267,USA,NaN,Yu,Kyung,Skates Road,33.6375
2798,10422,51,95.55,2,4873.05,In Process,2,30,5,2024,...,2155551555,7586 Pompton St.,Allentown,70267,USA,NaN,Yu,Kyung,Bergenville,62.1075

In [68]:
#Filling rows where territory is missing and country is USA with NA(North America)
main_data.loc[(main_data['Territory'].isnull()) & (main_data['Country'] =='USA'), 'Territory'] = 'NA'
main_data.loc[main_data['Country'] == 'USA'].head(10)

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,Phone,AddressLine1,City,PostalCode,Country,Territory,ContactLastName,ContactFirstName,Branch,CostPrice
0,10100,49,34.47,1,1689.03,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Skates Road,22.4055
1,10100,50,67.80,2,3390.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Bergenville,44.0700
2,10100,30,100.00,3,5151.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Bergenville,65.0000
3,10100,22,86.51,4,1903.22,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Skates Road,56.2315
8,10102,41,50.14,1,2055.74,Shipped,1,10,1,2022,...,2125551500,2678 Kingston Rd.,NYC,10022,USA,NA,Frick,Michael,Skates Road,32.5910
9,10102,39,100.00,2,4808.31,Shipped,1,10,1,2022,...,2125551500,2678 Kingston Rd.,NYC,10022,USA,NA,Frick,Michael,Bergenville,65.0000
72,10107,21,100.00,1,3036.60,Shipped,1,24,2,2022,...,2125557818,897 Long Airport Avenue,NYC,10022,USA,NA,Yu,Kwai,Bergenville,65.0000
73,10107,30,95.70,2,2871.00,Shipped,1,24,2,2022,...,2125557818,897 Long Airport Avenue,NYC,10022,USA,NA,Yu,Kwai,Skates Road,62.2050
74,10107,25,100.00,3,2845.75,Shipped,1,24,2,2022,...,2125557818,897 Long Airport Avenue,NYC,10022,USA,NA,Yu,Kwai,Skates Road,65.0000
75,10107,27,100.00,4,6065.55,Shipped,1,24,2,2022,...,2125557818,897 Long Airport Avenue,NYC,10022,USA,NA,Yu,Kwai,Bergenville,65.0000

In [69]:
main_data.isnull().sum()

OrderNumber          0
QuantityOrdered      0
PriceEach            0
OrderLineNumber      0
Sales                0
Status               0
QTR_ID               0
DAY_ID               0
MONTH_ID             0
YEAR_ID              0
ProductCode          0
CustomerName         0
Phone                0
AddressLine1         0
City                 0
PostalCode          76
Country              0
Territory           70
ContactLastName      0
ContactFirstName     0
Branch               0
CostPrice            0
dtype: int64

In [70]:
missing_territory_2 = main_data.loc[main_data['Territory'].isnull()]
missing_territory_2

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,Phone,AddressLine1,City,PostalCode,Country,Territory,ContactLastName,ContactFirstName,Branch,CostPrice
651,10171,35,100.00,1,4680.20,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Bergenville,65.0000
652,10171,35,100.00,2,4508.00,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Bergenville,65.0000
653,10171,39,100.00,3,5481.45,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Bergenville,65.0000
654,10171,36,35.49,4,1277.64,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Skates Road,23.0685
973,10206,33,100.00,1,3871.89,Shipped,4,5,12,2022,...,(604) 555-3392,1900 Oak St.,Vancouver,V3F 2K1,Canada,NaN,Tannamuri,Yoshi,Bergenville,65.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2707,10411,27,69.16,5,1867.32,Shipped,2,1,5,2024,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Skates Road,44.9540
2708,10411,40,100.00,6,6232.00,Shipped,2,1,5,2024,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Bergenville,65.0000
2709,10411,35,59.87,7,2095.45,Shipped,2,1,5,2024,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Skates Road,38.9155
2710,10411,27,100.00,8,3213.00,Shipped,2,1,5,2024,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Bergenville,65.0000
2711,10411,23,100.00,9,4140.23,Shipped,2,1,5,2024,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NaN,Fresnisre,Jean,Bergenville,65.0000

In [71]:
#Filling rows where territory is missing and country is Canada with NA(North America)
main_data.loc[(main_data['Territory'].isnull()) & (main_data['Country'] == 'Canada'), 'Territory'] = 'NA'
main_data.loc[main_data['Country'] == 'Canada'].head(10)

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,Phone,AddressLine1,City,PostalCode,Country,Territory,ContactLastName,ContactFirstName,Branch,CostPrice
651,10171,35,100.00,1,4680.20,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NA,Fresnisre,Jean,Bergenville,65.0000
652,10171,35,100.00,2,4508.00,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NA,Fresnisre,Jean,Bergenville,65.0000
653,10171,39,100.00,3,5481.45,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NA,Fresnisre,Jean,Bergenville,65.0000
654,10171,36,35.49,4,1277.64,Shipped,4,5,11,2022,...,(514) 555-8054,43 rue St. Laurent,Montreal,H1J 1C3,Canada,NA,Fresnisre,Jean,Skates Road,23.0685
973,10206,33,100.00,1,3871.89,Shipped,4,5,12,2022,...,(604) 555-3392,1900 Oak St.,Vancouver,V3F 2K1,Canada,NA,Tannamuri,Yoshi,Bergenville,65.0000
974,10206,36,58.82,2,2117.52,Shipped,4,5,12,2022,...,(604) 555-3392,1900 Oak St.,Vancouver,V3F 2K1,Canada,NA,Tannamuri,Yoshi,Skates Road,38.2330
975,10206,28,100.00,3,4056.36,Shipped,4,5,12,2022,...,(604) 555-3392,1900 Oak St.,Vancouver,V3F 2K1,Canada,NA,Tannamuri,Yoshi,Bergenville,65.0000
976,10206,21,53.33,4,1119.93,Shipped,4,5,12,2022,...,(604) 555-3392,1900 Oak St.,Vancouver,V3F 2K1,Canada,NA,Tannamuri,Yoshi,Skates Road,34.6645
977,10206,34,100.00,5,3966.78,Shipped,4,5,12,2022,...,(604) 555-3392,1900 Oak St.,Vancouver,V3F 2K1,Canada,NA,Tannamuri,Yoshi,Bergenville,65.0000
978,10206,47,100.00,6,9064.89,Shipped,4,5,12,2022,...,(604) 555-3392,1900 Oak St.,Vancouver,V3F 2K1,Canada,NA,Tannamuri,Yoshi,Geiselweg,65.0000

In [72]:
main_data['Territory'].value_counts()

Territory
EMEA     1407
NA       1074
APAC      221
Japan     121
Name: count, dtype: int64

In [73]:
main_data.isnull().sum()

OrderNumber          0
QuantityOrdered      0
PriceEach            0
OrderLineNumber      0
Sales                0
Status               0
QTR_ID               0
DAY_ID               0
MONTH_ID             0
YEAR_ID              0
ProductCode          0
CustomerName         0
Phone                0
AddressLine1         0
City                 0
PostalCode          76
Country              0
Territory            0
ContactLastName      0
ContactFirstName     0
Branch               0
CostPrice            0
dtype: int64

In [74]:
#dealing with missing from postal code 
main_data['PostalCode'].value_counts()

PostalCode
28034      259
97562      205
10022      152
94217       89
50553       61
          ...
4101        15
80686       14
WA1 1DP     12
B-6000       8
92561        3
Name: count, Length: 73, dtype: int64

In [49]:
# displaying the  rows where postalCode has missing values
missing_postalcode = main_data.loc[main_data['PostalCode'].isnull()]
missing_postalcode

In [50]:
#will fill missing values with 0
main_data['PostalCode'] = main_data['PostalCode'].fillna(0)

In [51]:
main_data.isnull().sum()

OrderNumber         0
QuantityOrdered     0
PriceEach           0
OrderLineNumber     0
Sales               0
Status              0
QTR_ID              0
DAY_ID              0
MONTH_ID            0
YEAR_ID             0
ProductCode         0
CustomerName        0
Phone               0
AddressLine1        0
City                0
PostalCode          0
Country             0
Territory           0
ContactLastName     0
ContactFirstName    0
Branch              0
CostPrice           0
dtype: int64

In [52]:
main_data

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,Phone,AddressLine1,City,PostalCode,Country,Territory,ContactLastName,ContactFirstName,Branch,CostPrice
0,10100,49,34.47,1,1689.03,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Skates Road,22.4055
1,10100,50,67.80,2,3390.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Bergenville,44.0700
2,10100,30,100.00,3,5151.00,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Bergenville,65.0000
3,10100,22,86.51,4,1903.22,Shipped,1,6,1,2022,...,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Young,Valarie,Skates Road,56.2315
4,10101,26,100.00,1,3773.38,Shipped,1,9,1,2022,...,+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,60528,Germany,EMEA,Keitel,Roland,Bergenville,65.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10425,49,100.00,9,5510.54,In Process,2,31,5,2024,...,40.67.8555,67 rue des Cinquante Otages,Nantes,44000,France,EMEA,Labrune,Janine,Bergenville,65.0000
2819,10425,19,49.22,10,935.18,In Process,2,31,5,2024,...,40.67.8555,67 rue des Cinquante Otages,Nantes,44000,France,EMEA,Labrune,Janine,Skates Road,31.9930
2820,10425,41,86.68,11,3553.88,In Process,2,31,5,2024,...,40.67.8555,67 rue des Cinquante Otages,Nantes,44000,France,EMEA,Labrune,Janine,Bergenville,56.3420
2821,10425,38,100.00,12,5894.94,In Process,2,31,5,2024,...,40.67.8555,67 rue des Cinquante Otages,Nantes,44000,France,EMEA,Labrune,Janine,Bergenville,65.0000
2822,10425,38,100.00,13,4325.16,In Process,2,31,5,2024,...,40.67.8555,67 rue des Cinquante Otages,Nantes,44000,France,EMEA,Labrune,Janine,Bergenville,65.0000

In [53]:
# combinining the columns ColumnFirstName and ContactLastName to one column ContactName
main_data['ContactName'] = main_data['ContactFirstName'] + ' ' + main_data['ContactLastName']
# droping the old columns
main_data = main_data.drop(columns=['ContactFirstName' , 'ContactLastName'])

In [54]:
main_data.head()

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,DAY_ID,MONTH_ID,YEAR_ID,...,CustomerName,Phone,AddressLine1,City,PostalCode,Country,Territory,Branch,CostPrice,ContactName
0,10100,49,34.47,1,1689.03,Shipped,1,6,1,2022,...,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Skates Road,22.4055,Valarie Young
1,10100,50,67.80,2,3390.00,Shipped,1,6,1,2022,...,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Bergenville,44.0700,Valarie Young
2,10100,30,100.00,3,5151.00,Shipped,1,6,1,2022,...,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Bergenville,65.0000,Valarie Young
3,10100,22,86.51,4,1903.22,Shipped,1,6,1,2022,...,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Skates Road,56.2315,Valarie Young
4,10101,26,100.00,1,3773.38,Shipped,1,9,1,2022,...,Blauer See Auto Co.,+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,60528,Germany,EMEA,Bergenville,65.0000,Roland Keitel

In [55]:
# creating one date column
main_data['Date'] = pd.to_datetime(main_data[['YEAR_ID', 'MONTH_ID', 'DAY_ID']].astype(str).agg('-'.join,axis=1))
# droping the previous columns
main_data = main_data.drop(columns=['DAY_ID', 'MONTH_ID','YEAR_ID'])

In [57]:
main_data.head()
#date format = YYY/MM/D

,OrderNumber,QuantityOrdered,PriceEach,OrderLineNumber,Sales,Status,QTR_ID,ProductCode,CustomerName,Phone,AddressLine1,City,PostalCode,Country,Territory,Branch,CostPrice,ContactName,Date
0,10100,49,34.47,1,1689.03,Shipped,1,S24_3969,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Skates Road,22.4055,Valarie Young,2022-01-06
1,10100,50,67.80,2,3390.00,Shipped,1,S18_2248,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Bergenville,44.0700,Valarie Young,2022-01-06
2,10100,30,100.00,3,5151.00,Shipped,1,S18_1749,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Bergenville,65.0000,Valarie Young,2022-01-06
3,10100,22,86.51,4,1903.22,Shipped,1,S18_4409,Online Diecast Creations Co.,6035558647,2304 Long Airport Avenue,Nashua,62005,USA,NA,Skates Road,56.2315,Valarie Young,2022-01-06
4,10101,26,100.00,1,3773.38,Shipped,1,S18_2795,Blauer See Auto Co.,+49 69 66 90 2555,Lyonerstr. 34,Frankfurt,60528,Germany,EMEA,Bergenville,65.0000,Roland Keitel,2022-01-09

Data Dictionary

Product Master